<ion-row>
  <ion-col size="12" size-lg="6">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
        <ion-card-subtitle>Escribe tus datos</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
          <form> 
            
            <ion-item >
              <ion-label position="floating">nickName o nombreUsuario <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required formControlName="nombreUsuario" type="text"></ion-input>
            </ion-item>

         
            
            <ion-item >
              <ion-label position="floating">password <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required formControlName="password" type="password"></ion-input>
            </ion-item>
          </form>
      </ion-card-content>
    </ion-card>

  </ion-col>

  <ion-col size="12"  size-lg="6">
     <ion-img src="assets/imagenes/imagenLogin.jpg"></ion-img>
  </ion-col>
</ion-row>